<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block title %}
        My Tennis Club
    {% endblock %}


    {% block content %}
        <h1>HOME</h1>

        <p>Check out all our <a href="user/">calculator</a></p>
        <p>Check out all our <a href="testing/">info for members</a></p>
    {% endblock %}
</body>

</html>