{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>IOS Calculator</title>
</head>

<body>
    <div class="calc">
        <div class="calc-screen">
            <p>0</p>
        </div>
        <div class="buttons">
            <div class="btn ac bg-grey">ac</div>
            <div class="btn plus-minus bg-grey">+/-</div>
            <div class="btn percent bg-grey">%</div>
            <div class="btn division bg-orange">/</div>

            <div class="btn seven">7</div>
            <div class="btn eigth">8</div>
            <div class="btn nine">9</div>
            <div class="btn myltiply bg-orange">X</div>

            <div class="btn four ">4</div>
            <div class="btn five ">5</div>
            <div class="btn six ">6</div>
            <div class="btn minus bg-orange">-</div>

            <div class="btn one ">1</div>
            <div class="btn two ">2</div>
            <div class="btn three ">3</div>
            <div class="btn plus bg-orange">+</div>

            <div class="btn zero ">0</div>
            <div class="btn dot ">.</div>
            <div class="btn equal bg-orange">=</div>


        </div>
    </div>
    <script>
        let number_one = ''; // first number
        let number_two = ''; // secont number
        let operator = ''; // second number
        let finish = false;
        let is_negative = false

        const digit = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.'];
        const action = ['-', '+', 'X', '/', '%'];

        // screen
        const out = document.querySelector('.calc-screen p');

        function clearAll() {
            number_one = ''; // first number and result
            number_two = ''; // second number 
            operator = '';
            finish = false;
            is_negative = false;
            out.textContent = 0;
        }

        function positive_negative() {
            if (operator === '') {
                number_one = -number_one;
                out.textContent = number_one;
            } else {
                number_two = -number_two;
                out.textContent = number_two;
            }
            console.table(number_one, number_two, operator);
        }

        document.querySelector('.ac').onclick = clearAll;
        document.querySelector('.plus-minus').onclick = positive_negative;


        document.querySelector('.buttons').onclick = (event) => {
            // the button is not pressed
            if (!event.target.classList.contains('btn')) return;
            // the clear All ac button is pressed
            if (event.target.classList.contains('ac')) return;
            // the +/- button
            if (event.target.classList.contains('plus-minus')) return;

            out.textContent = '';
            // I get the button pressed
            const key = event.target.textContent;

            // if the 0-9 or key is pressed .
            if (digit.includes(key)) {
                if (number_two === '' && operator === '') {
                    number_one += key;
                    out.textContent = number_one;
                }
                else if (number_one !== '' && number_two !== '' && finish) {
                    number_two = key;
                    finish = false;
                    out.textContent = number_two;
                }
                else {
                    number_two += key;
                    out.textContent = number_two;
                }
                console.table(number_one, number_two, operator);
                return;
            }

            // if the + key is pressed - / *
            if (action.includes(key)) {
                operator = key;
                out.textContent = number_one;
                console.table(number_one, number_two, operator);
                return;
            }

            // pressed =
            if (key === '=') {
                if (number_two === '') number_two = number_one;
                switch (operator) {
                    case "%":
                        number_one = number_one / 100
                        break;
                    case "+":
                        number_one = (+number_one) + (+number_two);
                        break;
                    case "-":
                        number_one = number_one - number_two;
                        break;
                    case "X":
                        number_one = number_one * number_two;
                        break;
                    case "/":
                        if (number_two === '0') {
                            out.textContent = 'Ошибка';
                            number_one = '';
                            number_two = '';
                            operator = '';
                            return;
                        }
                        number_one = number_one / number_two;
                        break;
                }
                finish = true;
                out.textContent = number_one;
                console.table(number_one, number_two, operator);
            }
        }
    </script>
</body>

</html>